body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
}
.signin
{
    position: center;
    background: #06102ba3;
    padding: 40px;
    width: 223px;
    margin: auto;
    margin-top: 40px;
    height: 470px;
}
form
{
    position: absolute;
    margin-top: -22px;
    margin-left: -8px;
    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=submit]
{
    border: none;
    width: 190px;
    background: #98826a;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover
{
    color: #fff;
    background-color: black;
}
h2
{
    color: white;
    
}
a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder {
    color:aliceblue;
    opacity: 0.8; /* Firefox */
}
