#header{
	margin-top: 0%;
	background: #212529;
    border-bottom: 1px solid #bababa;
    border-radius: 3px;
    padding: 15px;
}

#body{
    min-height: 400px;
    margin-top: -1%;
    background-color: #560c7b;
}

#footer{
	min-height: 100px;
    margin-top: 3%;
    background-color: #666699;
}



